<nav class="pagination" role="navigation">
    {{#if prev}}
        <a class="newer-posts" href="{{page_url prev}}">&larr; Novější příspěvky</a>
    {{/if}}
    <span class="page-number">Stránka {{page}} z {{pages}}</span>
    {{#if next}}
        <a class="older-posts" href="{{page_url next}}">Starší příspěvky &rarr;</a>
    {{/if}}
</nav>
